<div class="card-element" id="card-{{ .Card.ID }}">
    {{if .Card.Avatar}}
    <div class="avatar">
        <img src="/{{.Card.Avatar}}" />
    </div>
    {{else}}
    <div class="avatar"></div>
    {{end}}

    <h4>{{ .Card.Fields.Name }}</h4>
    {{ if .Card.Fields.Email }}
    <p>{{ .Card.Fields.Email }}</p>
    {{else}}
    <p style="visibility: hidden">|</p>
    {{end}}

    <div>
        <a class="btn" href="/c/{{ .Card.ID }}">
            <img src="/static/favicon-192.svg" />
        </a>
        <a class="btn" href="/editor/{{ .Card.ID }}">
            <img src="/static/favicon-192.svg" />
        </a>

        <button
            hx-post="/delcard/{{ .Card.ID }}"
            hx-confirm='{{ T "WarnCardDeletion" .Lang }} {{ .Card.Fields.Name }} {{ .Card.Fields.Email }}?'
            hx-swap="outerHTML"
            hx-target="#card-{{ .Card.ID }}"
            hx-target-error="#global-error-block"
            class="btn"
        >
            <img src="/static/favicon-192.svg" />
        </button>

        {{ if .Card.Fields.IsHidden }}
        <button
            hx-post="/visibility/{{ .Card.ID }}?visible=true"
            hx-swap="outerHTML"
            hx-target="#card-{{ .Card.ID }}"
            hx-target-error="#global-error-block"
            class="btn"
        >
            <img src="/static/favicon-192.svg" />
        </button>
        {{ else }}
        <button
            hx-post="/visibility/{{ .Card.ID }}?visible=false"
            hx-swap="outerHTML"
            hx-target="#card-{{ .Card.ID }}"
            hx-target-error="#global-error-block"
            class="btn"
        >
            <img src="/static/favicon-192.svg" />
        </button>
        {{ end }}
    </div>
</div>
