<div id="card-{{ .Card.ID }}" class="card-item">
    {{if .Card.Avatar}}
    <div class="avatar" style="background-color: white">
        <img src="/{{.Card.Avatar}}" />
    </div>
    {{else}}
    <div class="avatar"></div>
    {{end}}

    <h4>{{ .Card.Fields.Name }}</h4>
    <p>{{ .Card.Fields.Email }}</p>

    <div class="actions">
        <a href="/c/{{ .Card.ID }}">{{ T "ViewButton" .Lang }}</a>
        <a href="/editor/{{ .Card.ID }}">{{ T "EditButton" .Lang }}</a>

        <button
            hx-post="/delcard/{{ .Card.ID }}"
            hx-confirm='{{ T "WarnCardDeletion" .Lang }} {{ .Card.Fields.Name }} {{ .Card.Fields.Email }}?'
            hx-swap="outerHTML"
            hx-target="#card-{{ .Card.ID }}"
            hx-target-error="#global-error-block"
        >
            {{ T "DeleteButton" .Lang }}
        </button>

        {{ if .Card.Fields.IsHidden }}
        <button
            hx-post="/visibility/{{ .Card.ID }}?visible=true"
            hx-swap="outerHTML"
            hx-target="#card-{{ .Card.ID }}"
            hx-target-error="#global-error-block"
        >
            {{ T "MakeVisibleButton" .Lang }}
        </button>
        {{ else }}
        <button
            hx-post="/visibility/{{ .Card.ID }}?visible=false"
            hx-swap="outerHTML"
            hx-target="#card-{{ .Card.ID }}"
            hx-target-error="#global-error-block"
        >
            {{ T "HideButton" .Lang }}
        </button>
        {{ end }}
    </div>
</div>
