<div id="card-component" class="main-container">
    <div class="inner-container">
        <table class="top-element">
            <tr>
                <td class="top-td">
                    <img
                        class="top-img card-img-btn"
                        src="/static/qr-code-.svg"
                        toggle-visibility="#qr-layer"
                    />
                </td>
                <td>
                    {{if .Card.Logo}}
                    <img
                        id="card-logo"
                        src="/{{.Card.Logo}}"
                        alt="Company logo"
                        preview-for="#input-logo"
                        initial-sync="no"
                        preview-for="#input-logo"
                    />
                    {{else}}
                    <img
                        id="card-logo"
                        src=""
                        alt="Company logo"
                        preview-for="#input-logo"
                        initial-sync="no"
                        preview-for="#input-logo"
                    />
                    {{end}}
                </td>
                <td class="top-td">
                    <a href="/">
                        <img
                            class="top-img card-img-btn"
                            src="/static/favicon-192.svg"
                        />
                    </a>
                </td>
            </tr>
        </table>
        <hr />
        <button class="element">{{ T "AddToContacts" .Lang }}</button>
        {{ if .Card.Fields.IsHidden }}
        <div class="element card-hidden-msg">{{ T "HiddenCard" .Lang }}</div>
        {{ end }}
        <div class="avatar" hide-when-no-content="#card-image-preview">
            {{if .Card.Avatar}}
            <img
                id="card-image-preview"
                src="/{{.Card.Avatar}}"
                alt="Your avatar preview"
                preview-for="#input-avatar"
                initial-sync="no"
                style="background-color: white"
            />
            {{else}}
            <img
                id="card-image-preview"
                src=""
                alt="Your avatar preview"
                preview-for="#input-avatar"
                initial-sync="no"
                style="background-color: white"
            />
            {{end}}
        </div>
        <div class="element">
            <h2 id="card-name" preview-for="#input-name">
                {{ .Card.Fields.Name }}
            </h2>
        </div>
        <div
            class="element"
            hide-when-no-content="#input-position #input-company"
        >
            <div preview-for="#input-position">{{ .Card.Fields.Position }}</div>
            <div preview-for="#input-company">{{ .Card.Fields.Company }}</div>
        </div>
        <pre
            class="element"
            hide-when-no-content="#card-description"
            id="card-description"
            preview-for="#input-description"
        >
{{ .Card.Fields.Description }}</pre
        >
        <hr />
        <div class="element contact-element">
            {{ if .Card.Fields.Phone }}
            <a
                href="tel:{{.Card.Fields.Phone}}"
                title="Phone"
                preview-for="#input-phone"
                preview-prefix="tel:"
                ><img src="/static/phone.svg" alt=""
            /></a>
            <span preview-for="#input-phone" id="phone-span"
                >{{.Card.Fields.Phone}}</span
            >
            {{else}}
            <a
                href=""
                title="Phone"
                preview-for="#input-phone"
                preview-prefix=""
                ><img src="/static//phone.svg" alt=""
            /></a>
            <span preview-for="#input-phone" id="phone-span"></span>
            {{end}}
            <img src="/static/copy.svg" />
        </div>
        <div class="element contact-element">
            {{ if .Card.Fields.Email }}
            <a
                href="mailto:{{.Card.Fields.Email}}"
                title="Email"
                preview-for="#input-email"
                preview-prefix="mailto:"
                ><img src="/static/email.svg" alt=""
            /></a>
            <span preview-for="#input-email" id="email-span"
                >{{.Card.Fields.Email}}</span
            >
            {{else}}
            <a
                href=""
                title="Email"
                preview-for="#input-email"
                preview-prefix="mailto:"
                ><img src="/static/email.svg" alt=""
            /></a>
            <span preview-for="#input-email" id="email-span"></span>
            {{end}}
            <img src="/static/copy.svg" />
        </div>
        <div class="element contact-element">
            {{ if .Card.Fields.Telegram }}
            <a
                href="https://t.me/{{.Card.Fields.Telegram}}"
                title="Telegram"
                preview-for="#input-telegram"
                preview-prefix="https://t.me/"
                ><img src="/static/telegram.svg" alt=""
            /></a>
            <span
                preview-for="#input-telegram"
                preview-prefix="@"
                id="telegram-span"
                >@{{.Card.Fields.Telegram}}</span
            >
            {{else}}
            <a
                href=""
                title="Telegram"
                preview-for="#input-telegram"
                preview-prefix="https://t.me/"
                ><img src="/static/telegram.svg" alt=""
            /></a>
            <span
                preview-for="#input-telegram"
                preview-prefix="@"
                id="telegram-span"
            ></span>
            {{end}}
            <img src="/static/copy.svg" />
        </div>
        {{ if .Owner }} {{if .EditUrl }}
        <a class="element" href="{{.EditUrl }}">{{ T "EditCard" .Lang }}</a>
        {{end}} {{end}}
    </div>
    <div class="layer" id="qr-layer">
        <div class="inner-container">
            <table class="top-element">
                <tr>
                    <td class="top-td">
                        <img
                            class="top-img card-img-btn"
                            src="/static/close.svg"
                            toggle-visibility="#qr-layer"
                        />
                    </td>
                    <td></td>
                    <td class="top-td">
                        <a href="/">
                            <img
                                class="top-img card-img-btn"
                                src="/static/favicon-192.svg"
                            />
                        </a>
                    </td>
                </tr>
            </table>
            <hr />
            <div class="element qr-code">
                Name
                <img src="/static/qr-code-.svg" alt="" />
            </div>
            <div class="element qr-code">
                Name2
                <img src="/static/qr-code-.svg" alt="" />
            </div>
        </div>
        <div></div>
        <style>
            :root {
                --card-min-width: 400px;
                --padding-in-card: 10px;
                --top-height: 50px;
                --hover-text-color: white;
                --hover-background-color: black;
                --card-font-size: 18px;
                --bg: #2b2b2b;
                --block-bg: #000000;
                --section-bg: #444444;
                --section-hover-bg: #777777;
                --text: #ffffff;
                --qr-text: #2b2b2b;
                --qr-bg: #ffffff;
                --transition-speed: 0.3s;
                --error-color: red;
            }
            .main-container {
                background-color: var(--block-bg);
                width: var(--card-min-width);
                padding: var(--padding-in-card);
                position: relative;
                font-size: var(--card-font-size);
                box-sizing: border-box;
                margin-left: auto;
                margin-right: auto;
            }
            @media (max-width: 450px) {
                .main-container {
                    width: 100%;
                }
            }
            .inner-container {
                background-color: var(--block-bg);
            }
            .layer {
                background: var(--block-bg);
                /* padding: var(--padding-in-card); */
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                min-height: 100%;
                visibility: collapse;
                display: none;
            }
            .layer .inner-container {
                margin: var(--padding-in-card);
            }
            .top-element {
                background-color: var(--block-bg);
                margin-bottom: var(--padding-in-card);
                width: 100%;
                height: var(--top-height);
            }
            .top-td {
                width: calc(var(--top-height) * 1.5);
            }
            table.top-element td {
                padding: 0px;
                margin: 0px;
                height: var(--top-height);
            }
            .top-img {
                max-height: var(--top-height);
                height: 100%;
                margin: auto;
                display: block;
                box-sizing: border-box;
            }
            #card-logo {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
            .avatar {
                margin-bottom: var(--padding-in-card);
                display: block;
                border: none;
            }
            .avatar img {
                width: 100%;
            }
            .element {
                background-color: var(--section-bg);
                padding: 5px;
                margin-bottom: var(--padding-in-card);
                text-wrap: balance;
                word-break: break-word;
                display: block;
                border: none;
                text-decoration: none;
                width: 100%;
                box-sizing: border-box;
                block-size: fit-content;
                height: fit-content;
            }
            .element h2 {
                margin: 0px;
            }
            button.element {
                width: 100%;
                font-size: var(--card-font-size);
                color: var(--text);
            }
            button.element:hover {
                background-color: var(--section-hover-bg);
                color: var(--hover-text-color);
            }
            a.element {
                text-align: center;
                color: var(--text);
            }
            a.element:hover {
                background-color: var(--section-hover-bg);
                color: var(--hover-text-color);
            }
            pre.element {
                font-family: inherit;
                font: inherit;
            }
            .element:last-child {
                margin-bottom: 0px;
            }
            .card-img-btn {
                background-color: var(--section-bg);
                padding: 0.3rem;
            }
            .card-img-btn:hover {
                background-color: var(--section-hover-bg);
            }
            .card-hidden-msg {
                color: var(--error-color);
                border: 2px solid var(--error-color);
                background-color: var(--section-bg);
                text-align: center;
            }
            #card-description {
                white-space: pre-wrap;
            }
            .qr-code {
                color: var(--qr-text);
                background-color: var(--qr-bg);
                text-align: center;
            }
            .qr-code img {
                width: 100%;
            }
            .contact-element {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0;
                background-color: var(--section-bg);
            }
            .contact-element img {
                width: 2rem;
            }
        </style>
        <script>
            document.addEventListener("DOMContentLoaded", () => {
                document
                    .querySelectorAll("[toggle-visibility]")
                    .forEach((host) => {
                        console.log(host);
                        const selector = host.getAttribute("toggle-visibility");
                        const targets = document.querySelectorAll(selector);
                        console.log(targets);
                        host.addEventListener("click", () => {
                            targets.forEach((target) => {
                                console.log(target);
                                if (target.style.visibility != "visible") {
                                    target.style.visibility = "visible";
                                    target.style.display = "block";
                                } else {
                                    target.style.visibility = "collapse";
                                    target.style.display = "hidden";
                                }
                            });
                        });
                    });
            });
        </script>
    </div>
</div>
