<link rel="stylesheet" href="/static/card.css" />
<div id="card-component" class="main-container">
    <div class="inner-container">
        <table class="top-element">
            <tr>
                <td class="top-td">
                    <img class="top-img card-img-btn" src="/static/qr-code-.svg" toggle-visibility="#qr-layer" />
                </td>
                <td>
                    {{if .Card.Logo}}
                    <img id="card-logo" src="/{{.Card.Logo}}" alt="Company logo" preview-for="#input-logo"
                        initial-sync="no" preview-for="#input-logo" hide-when-no-content="#card-logo" />
                    {{else}}
                    <img id="card-logo" src="" alt="Company logo" preview-for="#input-logo" initial-sync="no"
                        preview-for="#input-logo" hide-when-no-content="#card-logo" />
                    {{end}}
                </td>
                <td class="top-td">
                    <a href="/">
                        <img class="top-img card-img-btn" src="/static/favicon-192.svg" />
                    </a>
                </td>
            </tr>
        </table>
        <hr />
        <button class="element" id="add-to-contacts-btn" type="button">
            {{ T "AddToContacts" .Lang }}
        </button>
        {{ if .Card.Fields.IsHidden }}
        <div class="element card-hidden-msg">{{ T "HiddenCard" .Lang }}</div>
        {{ end }}
        <div class="avatar" hide-when-no-content="#card-image-preview">
            {{if .Card.Avatar}}
            <img id="card-image-preview" src="/{{.Card.Avatar}}" alt="Your avatar preview" preview-for="#input-avatar"
                initial-sync="no" style="background-color: white" />
            {{else}}
            <img id="card-image-preview" src="" alt="Your avatar preview" preview-for="#input-avatar" initial-sync="no"
                style="background-color: white" />
            {{end}}
        </div>
        <div class="element">
            <h2 id="card-name" preview-for="#input-name">
                {{ .Card.Fields.Name }}
            </h2>
        </div>
        <div class="element" hide-when-no-content="#card-position, #card-company">
            <div id="card-position" preview-for="#input-position">
                {{ .Card.Fields.Position }}
            </div>
            <div id="card-company" preview-for="#input-company">
                {{ .Card.Fields.Company }}
            </div>
        </div>
        <pre class="element" hide-when-no-content="#card-description" id="card-description"
            preview-for="#input-description">{{ .Card.Fields.Description }}</pre>
        <hr />
        <div class="element contact-element" hide-when-no-content="#phone-span">
            {{ if .Card.Fields.Phone }}
            <a href="tel:{{.Card.Fields.Phone}}" title="Phone" preview-for="#input-phone" preview-prefix="tel:"><img
                    src="/static/phone.svg" alt="" /></a>
            <span preview-for="#input-phone" id="phone-span">{{.Card.Fields.Phone}}</span>
            {{else}}
            <a href="" title="Phone" preview-for="#input-phone" preview-prefix=""><img src="/static/phone.svg"
                    alt="" /></a>
            <span preview-for="#input-phone" id="phone-span"></span>
            {{end}}
            <img src="/static/copy.svg" />
        </div>
        <div class="element contact-element" hide-when-no-content="#email-span">
            {{ if .Card.Fields.Email }}
            <a href="mailto:{{.Card.Fields.Email}}" title="Email" preview-for="#input-email"
                preview-prefix="mailto:"><img src="/static/email.svg" alt="" /></a>
            <span preview-for="#input-email" id="email-span">{{.Card.Fields.Email}}</span>
            {{else}}
            <a href="" title="Email" preview-for="#input-email" preview-prefix="mailto:"><img src="/static/email.svg"
                    alt="" /></a>
            <span preview-for="#input-email" id="email-span"></span>
            {{end}}
            <img src="/static/copy.svg" />
        </div>
        <div class="element contact-element" hide-when-no-content="#telegram-span">
            {{ if .Card.Fields.Telegram }}
            <a href="https://t.me/{{.Card.Fields.Telegram}}" title="Telegram" preview-for="#input-telegram"
                preview-prefix="https://t.me/"><img src="/static/telegram.svg" alt="" /></a>
            <span preview-for="#input-telegram" preview-prefix="@" id="telegram-span">@{{.Card.Fields.Telegram}}</span>
            {{else}}
            <a href="" title="Telegram" preview-for="#input-telegram" preview-prefix="https://t.me/"><img
                    src="/static/telegram.svg" alt="" /></a>
            <span preview-for="#input-telegram" preview-prefix="@" id="telegram-span"></span>
            {{end}}
            <img src="/static/copy.svg" />
        </div>
        {{ if .Owner }} {{if .EditUrl }}
        <a class="element" href="{{.EditUrl }}">{{ T "EditCard" .Lang }}</a>
        {{end}} {{end}}
    </div>
    <div class="layer" id="qr-layer">
        <div class="inner-container">
            <table class="top-element">
                <tr>
                    <td class="top-td">
                        <img class="top-img card-img-btn" src="/static/close.svg" toggle-visibility="#qr-layer" />
                    </td>
                    <td></td>
                    <td class="top-td">
                        <a href="/">
                            <img class="top-img card-img-btn" src="/static/favicon-192.svg" />
                        </a>
                    </td>
                </tr>
            </table>
            <hr />
            <div class="element qr-code">
                {{ T "QRCodeOnline" .Lang }}
                <img id="qr-code" src="/static/qr-code-.svg" alt="" />
            </div>
            <div class="element qr-code">
                {{ T "QRCodeOffline" .Lang }}
                <img id="qr-code-offline" src="/static/qr-code-.svg" alt="" />
            </div>
        </div>
        <div></div>
        <script src="/static/copy.js"></script>
        <script src="/static/card.js"></script>
    </div>
</div>
