<div class="nav-container">
    <a href="/" class="logo">
        <img src="/static/logo.svg">
    </a>

    {{if .User}}
        {{if eq .User.Type 1}}
            <span class="user-info" style="color: red;">{{ T "Welcome" .Lang }}, {{.User.Name}}</span>
        {{else}}
            <span class="user-info">{{ T "Welcome" .Lang }}, {{.User.Name}}</span>
        {{end}}
    {{end}}
    <input type="checkbox" id="burger-toggle" />
    <label for="burger-toggle" class="burger">&#9776;</label>
    <nav class="menu">
    <a href="/tutorial">{{ T "NavHowTo" .Lang }}</a>
    <a href="/faq">{{ T "NavFAQ" .Lang }}</a>
    {{if .User}}
        {{if eq .User.Type 1}}
            <a href="/users" style="background-color: red;">{{ T "NavUsers" .Lang }}</a>
        {{end}}
        <a href="/cards">{{ T "NavCards" .Lang }}</a>
        <a href="/logout">{{ T "NavLogout" .Lang }}</a>
        <button
        hx-post="/userdel"
        hx-confirm='{{ T "WarnUserDeletion" .Lang }} {{.User.Name}}?'
        hx-swap="none">
            {{ T "NavDeleteUser" .Lang }}
        </button>
    {{else}}
        <a href="/login">{{ T "NavLogin" .Lang }}</a>
    {{end}}
    </nav>
</div>
{{if .Lang}}
    {{.Lang}} | {{ T "hello" .Lang }} | {{ T "BBB" .Lang }} | {{.Locales}} |
    <select name="lang" hx-post="/setlocale" hx-trigger="change" hx-swap="none">
        <option selected>{{.Lang}}</option>
        {{ $top := . }}
        {{ range .Locales }}
            {{if ne . $top.Lang }}
                <option>{{.}}</option>
            {{end}}
        {{end}}
    </select>
{{end}}
<script>
document.addEventListener('DOMContentLoaded', function () {
    const burgerToggle = document.getElementById('burger-toggle');
    const navContainer = document.querySelector('.nav-container');
    const menu = document.querySelector('.menu');

    navContainer.addEventListener('click', e => e.stopPropagation());

    document.addEventListener('click', () => {
    if (burgerToggle.checked) burgerToggle.checked = false;
    });

    let startX = null;
    menu.addEventListener('touchstart', e => {
    if (!burgerToggle.checked) return;
    startX = e.touches[0].clientX;
    }, { passive: true });

    menu.addEventListener('touchend', e => {
    if (startX === null) return;
    const deltaX = e.changedTouches[0].clientX - startX;
    if (deltaX > 50) {
        burgerToggle.checked = false;
    }
    startX = null;
    });
});
</script>
</html>
