<!doctype html>
<html lang="en">
    <head>
        {{ template "comp_header.html" . }}
        <link rel="manifest" href="static/manifest.json" />
        <meta name="theme-color" content="#007BFF" />
        {{ if .Card.AvatarExist }}
        <link rel="icon" href="/media/avatar/{{.Card.ID}}" sizes="any" />
        <link rel="apple-touch-icon" href="/media/avatar/{{.Card.ID}}" />
        {{ else }}
        <!-- fallback to a default icon -->
        <link rel="icon" href="/static/default-avatar.png" sizes="any" />
        <link rel="apple-touch-icon" href="/static/default-avatar.png" />
        {{ end }}
    </head>

    <body>
        <div class="card">
            {{ template "comp_card.html" . }}
            <br />
            {{ if .Owner }}
            <a class="edit-link" href="{{ .EditUrl }}"
                >{{ T "EditCard" .Lang }}</a
            >
            {{ end }}
        </div>
    </body>
    <script>
        if ("serviceWorker" in navigator) {
            window.addEventListener("load", () => {
                navigator.serviceWorker
                    .register("/service-worker.js")
                    .then(() => console.log("SW registered"))
                    .catch((err) => console.error("SW failed", err));
            });
        }
    </script>
</html>
