<!doctype html>
<html lang="en">
    <head>
        {{ template "comp_header.html" . }}
        <link rel="stylesheet" href="/static/cards.css" />
    </head>
    <body hx-ext="response-targets">
        <header>
            {{ template "comp_nav.html" . }} {{ template "comp_error.html" . }}
        </header>
        <main>
            <section class="cards-grid">
                {{ if .Cards }} {{ $top := . }} {{ range .Cards }} {{ $ctx :=
                dict "Card" . "Lang" $top.Lang }} {{ template
                "comp_cardElement.html" $ctx }} {{end}} {{else}}
                <div class="cards-msg" id="no-cards">
                    {{ T "NoCards" .Lang
                    }}AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
                </div>
                {{end}}
            </section>
            <div class="add-card-container">
                <a
                    class="add-card-btn"
                    href="/editor"
                    aria-label="Create new card"
                    >+</a
                >
            </div>
        </main>
    </body>
</html>
