<!doctype html>
<html>

<head>
    {{ template "comp_header.html" . }}
    <link rel="stylesheet" href="/static/editor.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.css"
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>{{ template "comp_nav.html" . }}</header>
    <div>
        <div class="editor-container">
            <section class="editor-left">
                <h2 class="editor-header">{{ T "EditorHeader" .Lang }}</h2>
                <form id="editor-form" action="{{.EditUrl}}" method="post" enctype="multipart/form-data">
                    <label for="input-name">{{ T "EditorLabelName" .Lang }}</label>
                    <input name="name" id="input-name" type="text" value="{{.Card.Fields.Name}}"
                        placeholder='{{ T "EditorPlaceholderName" .Lang }}' required />

                    <label for="input-avatar-precrop">{{ T "Avatar" .Lang }}</label>
                    <input name="avatar-precrop" id="input-avatar-precrop" type="file" accept="image/*"
                        autocomplete="off" />
                    <input name="avatar" id="input-avatar" type="file" accept="image/webp" autocomplete="off" hidden />
                    <!-- Preview & Crop -->
                    <div id="preview-container" hide-when-no-content="#input-avatar-precrop">
                        <img id="image-preview" />
                        <button type="button" id="avatar-preview-ok">Ok</button>
                    </div>
                    <button type="button" clear-inputs="#input-avatar-precrop, #input-avatar"
                        hide-when-no-content="#input-avatar-precrop">
                        Cancel avatar selection
                    </button>
                    <label for="input-description">{{ T "EditorLabelSelfDescription" .Lang }}</label>
                    <textarea name="description" id="input-description" rows="5">{{.Card.Fields.Description}}</textarea>
                    <hr />
                    <h4>{{ T "Work" .Lang }}</h4>
                    <hr />
                    <label for="input-company">{{ T "EditorLabelCompany" .Lang }}</label>
                    <input name="company" id="input-company" type="text" value="{{.Card.Fields.Company}}"
                        placeholder='{{ T "EditorPlaceholderCompany" .Lang }}' />

                    <label for="input-logo-pre">{{ T "EditorLabelCompanyLogo" .Lang }}</label>
                    <br />
                    <input id="input-logo-pre" type="file" accept="image/*" autocomplete="off" />
                    <input name="logo" id="input-logo" type="file" accept="image/webp" autocomplete="off" hidden />
                    <br />
                    <div hide-when-no-content="#input-logo">
                        <button type="button" clear-inputs="#input-logo">
                            {{ T "EditorLabelCancelLogo" .Lang }}
                        </button>
                    </div>

                    <label for="input-position">{{ T "EditorLabelPosition" .Lang }}</label>
                    <br />
                    <input name="position" id="input-position" type="text" value="{{.Card.Fields.Position}}"
                        placeholder='{{ T "EditorPlaceholderPosition" .Lang }}' />
                    <br />

                    <hr />
                    <h4>{{ T "Contacts" .Lang }}</h4>
                    <hr />
                    <label for="input-phone">{{ T "Phone" .Lang }}</label>
                    <br />
                    <input name="phone" id="input-phone" type="tel" value="{{.Card.Fields.Phone}}"
                        placeholder='{{ T "EditorPlaceholderPhone" .Lang }}' />
                    <br />

                    <label for="input-email">Email</label> <br />
                    <input name="email" id="input-email" type="email" value="{{.Card.Fields.Email}}"
                        placeholder='{{ T "EditorPlaceholderEmail" .Lang }}' />
                    <br />

                    <label for="input-telegram">Telegram ID</label> <br />
                    <input name="telegram" id="input-telegram" value="{{.Card.Fields.Telegram}}"
                        placeholder='{{ T "EditorPlaceholderTg" .Lang }}' />
                    <br />
                    <!--
                    <label for="input-whatsapp">WhatsApp URL</label> <br />
                    <input
                        name="whatsapp"
                        id="input-whatsapp"
                        value="{{.Card.Fields.Whatsapp}}"
                    />
                    <br />

                    <label for="input-vk">VK URL</label> <br />
                    <input
                        name="vk"
                        id="input-vk"
                        value="{{.Card.Fields.VK}}"
                    />
                    <br /> -->

                    <button type="submit">
                        {{ T .SubmitButton .Lang }}
                    </button>
                </form>
            </section>
            <aside class="editor-right" id="card-preview">
                <h2 class="editor-header">{{ T "PreviewHeader" .Lang }}</h2>
                {{ template "comp_card.html" . }}
            </aside>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.js" crossorigin="anonymous"
        referrerpolicy="no-referrer"></script>
    <script src="/static/preview.js"></script>
    <script src="/static/collapse.js"></script>
    <script src="/static/clearInput.js"></script>
    <script src="/static/editor.js"></script>
</body>

</html>
