<!doctype html>
<html>
    <head>
        {{ template "comp_header.html" . }}
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.css"
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
    </head>
    <body>
        <header>{{ template "comp_nav.html" . }}</header>
        <div class="editor-layout">
            <br />
            <section id="controls">
                <form
                    id="editor-form"
                    action="{{.EditUrl}}"
                    method="post"
                    enctype="multipart/form-data"
                >
                    <label for="input-name"
                        >{{ T "EditorLabelName" .Lang }}</label
                    >
                    <br />
                    <input
                        name="name"
                        id="input-name"
                        type="text"
                        value="{{.Card.Fields.Name}}"
                        required
                    />
                    <br />

                    <label for="input-avatar-precrop">Avatar Image</label>
                    <br />
                    <input
                        name="avatar-precrop"
                        id="input-avatar-precrop"
                        type="file"
                        accept="image/*"
                        autocomplete="off"
                    />
                    <input
                        name="avatar"
                        id="input-avatar"
                        type="file"
                        accept="image/*"
                        autocomplete="off"
                        hidden
                    />
                    <br />
                    <!-- Preview & Crop -->
                    <div
                        id="preview-container"
                        hide-when-no-content="#input-avatar-precrop"
                    >
                        <img id="image-preview" />
                        <button
                            type="button"
                            clear-inputs="#input-avatar-precrop, #input-avatar"
                        >
                            Rollback avatar
                        </button>
                    </div>
                    <label for="input-description"
                        >{{ T "EditorLabelSelfDescription" .Lang }}</label
                    >
                    <br />
                    <textarea
                        name="description"
                        id="input-description"
                        rows="5"
                    >
{{.Card.Fields.Description}}</textarea
                    >
                    <br />
                    <hr />
                    <h4>Work</h4>
                    <hr />
                    <label for="input-company"
                        >{{ T "EditorLabelCompany" .Lang }}</label
                    >
                    <br />
                    <input
                        name="company"
                        id="input-company"
                        type="text"
                        value="{{.Card.Fields.Company}}"
                    />
                    <br />

                    <label for="input-logo"
                        >{{ T "EditorLabelCompanyLogo" .Lang }}</label
                    >
                    <br />
                    <input
                        name="logo"
                        id="input-logo"
                        type="file"
                        accept="image/*"
                        autocomplete="off"
                    />
                    <br />
                    <div hide-when-no-content="#input-logo">
                        <button type="button" clear-inputs="#input-logo">
                            {{ T "EditorLabelCancelLogo" .Lang }}
                        </button>
                    </div>

                    <label for="input-position"
                        >{{ T "EditorLabelPosition" .Lang }}</label
                    >
                    <br />
                    <input
                        name="position"
                        id="input-position"
                        type="text"
                        value="{{.Card.Fields.Position}}"
                    />
                    <br />

                    <hr />
                    <h4>Contacts</h4>
                    <br />
                    <label for="input-phone">Phone</label> <br />
                    <input
                        name="phone"
                        id="input-phone"
                        type="tel"
                        value="{{.Card.Fields.Phone}}"
                    />
                    <br />

                    <label for="input-email">Email</label> <br />
                    <input
                        name="email"
                        id="input-email"
                        type="email"
                        value="{{.Card.Fields.Email}}"
                    />
                    <br />

                    <label for="input-telegram">Telegram URL</label> <br />
                    <input
                        name="telegram"
                        id="input-telegram"
                        value="{{.Card.Fields.Telegram}}"
                    />
                    <br />
                    <!--
                    <label for="input-whatsapp">WhatsApp URL</label> <br />
                    <input
                        name="whatsapp"
                        id="input-whatsapp"
                        value="{{.Card.Fields.Whatsapp}}"
                    />
                    <br />

                    <label for="input-vk">VK URL</label> <br />
                    <input
                        name="vk"
                        id="input-vk"
                        value="{{.Card.Fields.VK}}"
                    />
                    <br /> -->

                    <button type="submit">{{ T .SubmitButton .Lang }}</button>
                </form>
            </section>
            <aside id="card-preview">
                <h2 id="card-company" preview-for="#input-company"></h2>
                <div
                    class="logo-container"
                    id="logo-container"
                    hide-when-no-content="#card-logo"
                >
                    {{if .Card.LogoExist}}
                    <img
                        id="card-logo"
                        src="/media/logo/{{.Card.ID}}"
                        alt="Company logo"
                        preview-for="#input-logo"
                        initial-sync="no"
                    />
                    {{else}}
                    <img
                        id="card-logo"
                        src=""
                        alt="Company logo"
                        preview-for="#input-logo"
                        initial-sync="no"
                    />
                    {{end}}
                </div>
                <div class="avatar" hide-when-no-content="#card-image-preview">
                    {{if .Card.AvatarExist}}
                    <img
                        id="card-image-preview"
                        src="/media/avatar/{{.Card.ID}}"
                        alt="Your avatar preview"
                        preview-for="#input-avatar"
                        initial-sync="no"
                    />
                    {{else}}
                    <img
                        id="card-image-preview"
                        src=""
                        alt="Your avatar preview"
                        preview-for="#input-avatar"
                        initial-sync="no"
                    />
                    {{end}}
                </div>
                <h3 id="card-name" preview-for="#input-name"></h3>
                <h4 id="card-position" preview-for="#input-position"></h4>
                <p id="card-text" preview-for="#input-description"></p>
                <div class="contact-buttons">
                    <div hide-when-no-content="#input-phone">
                        <a
                            href=""
                            title="Phone"
                            preview-for="#input-phone"
                            preview-prefix="tel:"
                            >📞</a
                        >
                        <span preview-for="#input-phone"></span>
                    </div>
                    <div hide-when-no-content="#input-email">
                        <a
                            href=""
                            title="Email"
                            preview-for="#input-email"
                            preview-prefix="mailto:"
                            >✉️</a
                        >
                        <span preview-for="#input-email"></span>
                    </div>
                    <div hide-when-no-content="#input-telegram">
                        <a
                            href=""
                            title="Telegram"
                            preview-for="#input-telegram"
                            preview-prefix="https://t.me/"
                            >📨</a
                        >
                        <span
                            preview-for="#input-telegram"
                            preview-prefix="@"
                        ></span>
                    </div>
                </div>
                {{ template "comp_card.html" . }}
            </aside>
        </div>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.js"
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>
        <script src="/static/preview.js"></script>
        <!-- <script src="/static/collapse.js"></script> -->
        <script src="/static/clearInput.js"></script>
        <script>
            const fileInput = document.getElementById("input-avatar-precrop");
            const croppedInput = document.getElementById("input-avatar");
            const image = document.getElementById("image-preview");
            let cropper;

            // Helper to update cropped file field
            function updateCroppedFile() {
                if (!cropper) return;
                let canvas = cropper.getCroppedCanvas();
                canvas.toBlob((blob) => {
                    const fileName = fileInput.files[0]?.name || "cropped.png";
                    const croppedFile = new File([blob], fileName, {
                        type: blob.type,
                    });
                    const dt = new DataTransfer();
                    dt.items.add(croppedFile);
                    croppedInput.files = dt.files;
                    const event = new Event("change", {
                        bubbles: true,
                        cancelable: true,
                    });
                    croppedInput.dispatchEvent(event);
                });
            }

            fileInput.addEventListener("change", (e) => {
                const file = e.target.files[0];
                if (!file) return;
                const url = URL.createObjectURL(file);

                image.src = url;
                image.style.display = "block";

                if (cropper) cropper.destroy();
                cropper = new Cropper(image, {
                    aspectRatio: 1,
                    viewMode: 1,
                    autoCrop: true,
                    autoCropArea: 0.8,
                    cropend: updateCroppedFile,
                    ready: updateCroppedFile,
                });
            });
        </script>
    </body>
</html>
