<!doctype html>
<html lang="en">
    <head>
        {{ template "comp_header.html" . }}
    </head>
    <body>
        <header>{{ template "comp_nav.html" . }}</header>

        <div>
            {{ $top := . }} {{range .Providers}}
            <div>
                {{if eq . "vk"}}
                <a href="/login/vk">
                    <img src="/static/{{.}}-logo.svg" />
                    <span>{{ T "SignIn" $top.Lang }} {{ . }}</span>
                </a>
                {{else}}
                <a href="/auth/{{.}}">
                    <img src="/static/{{.}}-logo.svg" />
                    <span>{{ T "SignIn" $top.Lang }} {{ . }}</span>
                </a>
                {{ end }}
            </div>
            {{ end }}
        </div>
    </body>
</html>
