<!doctype html>
<html>
    <head>
        {{ template "comp_header.html" . }}
    </head>
    <body>
        <header>
            {{ template "comp_nav.html" . }} {{ template "comp_error.html" . }}
            {{ template "comp_error.html" . }}
        </header>
        <main>
            <section>
                {{ range .Users }} {{.}}
                <button
                    hx-post="/userdel/{{.ID}}"
                    hx-confirm="Are you sure you wish to delete {{.Name}} account?"
                    hx-swap="none"
                >
                    Delete user
                </button>
                <a href="/cards/{{.ID}}">Cards</a>
                <br />
                {{ end }}
            </section>
        </main>
    </body>
</html>
